body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 10px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 233, 36) 0%, rgba(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%);
}

.correct-choice {
    background-color: green;
  }

/* Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 2.7rem;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(90, 31, 90);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(90, 31, 90);
    width: 0%;
}
